/* css */
* {
    background-color:  hsl(217, 54%, 11%);
}

#cubeimg,
.img {
    object-fit: cover;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 300px;
    max-width: 150px;
    border-color: transparent;
    border-radius: 10%

}
div,
.cardcolor {
    max-width: 900px;
    border-bottom: 300px;  
    background-color: hsl(216, 50%, 16%);
    margin-left: auto;
    margin-right: auto;
    border-color: transparent;

}