/* css */
* {
    background-color:  hsl(217, 54%, 11%);
}
div {
    box-shadow: 10px 5px 5px black;
}
#cubeimg,
.img {
    object-fit: cover;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 300px;
    width: 250px;
    border-color: transparent;
    border-radius: 10%
}
 #rectangle { 
    width: 300px;
  height: 400px;
     margin: auto;
   background: hsl(216, 50%, 16%);
       border-radius: 10%;
           drop-shadow: ;
}
.name {
    margin-left: 50%;
    font-family: Arial;
}
h3 {
    color: #d5d5d7;
    font-family: sans-serif;
    position: relative;
    top: 290px;
    background-color: transparent;
    
}
