/* css */
* {
    background-color:  hsl(217, 54%, 11%);
}

#cubeimg,
.img {
    object-fit: cover;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 300px;
    max-width: 150px;
    border-color: transparent;
    border-radius: 10%

}
 #rectangle { 
    width: 200px;
  height: 100px;
     margin: auto;
   background: hsl(216, 50%, 16%)
    max-height: 200px;
}
